.container
  .row
    .col-md-12
      %h2 
        List of Character Types
        - if current_user
          = link_to "Create Character Type", new_character_type_path, class: "btn btn-primary pull-right"
      %hr/

  - @characters.each_slice(2) do |slice|
    .row
      - slice.each do |character|
        .col-md-6
          .panel.panel-primary{id: "char-#{character.id}"}
            .panel-heading
              = link_to character.name.capitalize, character_type_path(character), class: "list-group-item active", id: "link-to-char-#{character.id}" 
            .panel-body
              .row
                .col-md-6
                  = link_to(character_type_path(character)) do  
                    = image_tag(character.character_avatar, class: "char-image")

                .col-md-6
                  %strong Last 3 Attributes
                  %hr/
                  - if character.character_attributes.present?
                    .list-group
                      - character.character_attributes.last(3).each do |attr|
                        = link_to "#", class: "list-group-item", onclick: "return false;" do
                          = image_tag(attr.char_attr_avatar, size: "40x40")
                          = attr.name.titleize
                          %span.badge 
                            = attr.numerical_value
                  - else 
                    This Character doesn't have any attributes
            .panel-footer
              Created by:  
              = link_to "@#{character.user.username}", character_types_path(user: character.user)
              - if current_user && current_user.id == character.user_id
                .pull-right
                  = link_to "Edit", edit_character_type_path(character), class: "btn btn-xs btn-warning",id: "char-id#{character.id}"
                  = link_to "Delete", character_type_path(character), method: :delete, data: {confirm: 'Are you sure?'}, class: "delete-char btn btn-xs btn-danger", id: "char-id#{character.id}", "data-char-id": "#{character.id}", remote: true
  
