.container
  .row
    %h2 
      List of Character Types
      = link_to "Create Character Type", new_character_type_path, class: "btn btn-primary pull-right"
    %br/
  .row
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Avatar
          %th Option
      %tbody
        - @characters.each do |character|
          %tr
            %td{id: "char-#{character.id}"}= link_to character.name, character_type_path(character) 
            %td= image_tag(character.character_avatar, size: "20x20")
            %td
              = link_to "Edit", edit_character_type_path(character), class: "btn btn-xs btn-warning"
              = link_to "Delete", character_type_path(character), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-xs btn-danger"
  
