.row
  %h2 Character Type: #{@character.name.capitalize}
  %hr/
  .col-md-4#character_type
    .avatar
      %br/
      = image_tag(@character.character_avatar, class: "char-image")

  .col-md-8#character_attributes
    %h2 Character Attributes 
    %hr/
    .list-group
      - if @character.character_attributes.present?
        - @character_attributes.each do |attr| 
          .row 
            .col-md-7 
              = link_to "#", class: "character_attributes_#{attr.id} list-group-item", onclick: "return false;" do
                = attr.name
                %span.badge 
                  = attr.numerical_value
            - if current_user && current_user.id == @character.user_id
              .col-md-5
                = link_to "Edit", edit_character_type_character_attribute_path(@character, attr.id), class: "btn btn-md btn-warning"
                = link_to "Delete", character_type_character_attribute_path(@character, attr.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-md btn-danger"
       
        - if current_user && current_user.id == @character.user_id
          %hr/
          = render 'character_attributes/form'

      - else 
        This Character doesn't have any attributes
        %br/

.row 
  %br/
  %hr/
  Created by:  
  = link_to "@#{@character.user.username}", character_types_path(user: @character.user)
    