.row
  %section#character_type
    %h2 Character Type
    %hr/
    %h2 Name: #{@character.name.capitalize}
    .avatar
      = image_tag(@character.character_avatar, size: "100x100")

  %section#character_attributes
    %h2 Character Attributes 
    %ul
      - @character_attributes.each do |attr|
        %li{ class: "character_attributes_#{attr.id}"}
          %br/
          = attr.name
          %span :
          = attr.numerical_value
          %span= link_to "Edit", edit_character_type_character_attribute_path(@character, attr.id), class: "btn btn-xs btn-warning"

.row
  %h2 Add Attribute
  = render 'character_attributes/form'

    