.row
  %h2 
    Character Type: #{@character.name.capitalize}
    = link_to "Back", character_types_path, class: "btn btn-md btn-default pull-right" 
    - if current_user && current_user.id == @character.user_id
      = link_to "Delete Character", character_type_path(@character), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-md btn-danger pull-right"
  %hr/
  .col-md-4#character_type
    .avatar
      %br/
      = image_tag(@character.character_avatar, class: "char-image")

  .col-md-8
    %h2 Character Attributes 
    %hr/
    .list-group
      .character_attributes
        - if @character.character_attributes.present?
          - @character_attributes.each do |attr| 
            = render partial: 'character_attributes/char_attr', locals: {attr: attr}

        - else 
          %p.no-attr
            This Character doesn't have any attributes
          %br/

      - if current_user && current_user.id == @character.user_id
        %hr/
        #create-attribute
        = link_to(new_character_type_character_attribute_path(@character), class: "btn btn-md btn-success", id: "add-attribute", remote: true) do
          %span.glyphicon.glyphicon-plus-sign
          Add Attribute
          
        
    
.row 
  %br/
  %hr/
  Created by:  
  = link_to "@#{@character.user.username}", character_types_path(user: @character.user)
    