.row{id: "char-attr-#{attr.id}"}
  .col-md-7 
    

    = link_to "#", class: "character_attributes_#{attr.id} list-group-item", onclick: "return false;" do
      - if attr.char_attr_avatar.present?
        = image_tag(attr.char_attr_avatar, size: "40x40")
      - else 
        = image_tag("http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder-300x300.png", size: "40x40")

      = attr.name
      %span.badge 
        = attr.numerical_value

  - if current_user && current_user.id == @character.user_id
    .col-md-5.char-options
      = link_to "Edit", edit_character_type_character_attribute_path(@character, attr.id), class: "btn btn-md btn-warning", remote: true
      = link_to "Delete", character_type_character_attribute_path(@character, attr.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "delete-attr btn btn-md btn-danger", id: "delete-#{attr.id}", "data-char-attr": "#{attr.id}", "data-char-id": "#{@character.id}", remote: true