= form_for([@character, @character_attribute], html: {class: "form-horizontal attr-form-#{@character_attribute.id}", id: "attr-form"}, multipart: true, authenticity_token: true, remote: true ) do |f|
  
  = f.file_field :char_attr_avatar, class: 'form-controll', id: "char-attr-avatar"

  = f.text_field :name, class: "col-md-3 list-group-item", id: "char-attr-name", placeholder: "Name"
  
  = f.text_field :numerical_value, class: "col-md-2 list-group-item", id: "char-attr-value", placeholder: "Value"
  .col-md-5.actions 
    = f.submit "Save", class: 'btn btn-success', id: "submit-attr-form", "data-char-id": "#{@character.id}", remote: true
    = link_to "Cancel", "#", class: 'btn btn-default', id: "attr-cancel", "data-char-attr": "#{@character_attribute.id}", "data-char-id": "#{@character.id}", remote: true
    