!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniRpgGameEditor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        .navbar.navbar-default
          .container-fluid
            .navbar-header
              = link_to "Mini Game Editor", character_types_path, class: "navbar-brand"
          
            %ul.nav.navbar-nav
              %li= link_to "Home", character_types_path
              - if current_user 
                %li.active= link_to "My Characters", character_types_path(user: current_user)

            %ul.nav.navbar-nav.navbar-right
              - if current_user 
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %span.glyphicon.glyphicon-log-out
                    Logout
              - else
                %li
                  = link_to new_user_registration_path do
                    %span.glyphicon.glyphicon-user
                    Sign Un
                %li
                  = link_to new_user_session_path do
                    %span.glyphicon.glyphicon-log-in
                    Login
      
      .row
        .col-md-12
          - flash.each do |key, msg|
            .text-center.alert{ class: (key == 'notice' ? 'alert-success' : 'alert-danger') }
              = msg
         
        = yield
