!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniRpgGameEditor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        %nav.nav
          %ul
            %li
              = link_to "Log out", destroy_user_session_path, :method => :delete
      
      .row
        .col-md-12
          - flash.each do |key, msg|
            .text-center.alert{ class: (key == 'notice' ? 'alert-success' : 'alert-danger') }
              = msg
         
          = yield
